{{#link-to 'rentals'}}Back to the Rentals list{{/link-to}}
<h3>Rental Show</h3>
<h2>{{model.name}}</h2>
<p>{{model.daily_rates}}</p>
<div>{{#link-to 'rental.booking.new'}}New Booking{{/link-to}}</div>